# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Logs
*.log
.events.*
.pstat

# Graphics / OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp

# Simulation specific
screenshots/
recordings/

__pycache__
